<html>
	<head>
		<title>ONLINE VOTING</title>
		<link 	rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link 	rel="stylesheet" type="text/css"  href="/stylesheets/app.css">
		<h1 class="ui center aligned icon header">
  			<strong>WELCOME</strong><i class="red users icon"></i> TO THE VOTING PORTAL
		</h1>
	</head>
	<body style="background-color: #E5F4F7;">
			<%candidates.forEach(function(candidate){%>
			<div class="ui main text container segment" style="padding: 0; text-align: center; margin-top: 25px;">
				<div class = "ui top attached segment" >
		    		<div class = "item">
						<div class="content" style="margin-bottom: 15px;">
							<h3><%=candidate.cname%></h3>
						</div>
						<img class = "ui centered rounded image" width="350" height="350" src= "<%= candidate.cimage %>">
						<div class="content" style="margin-top: 15px;">
							<b><%=candidate.cparty%></b>
							<span></span>
						</div>
						<div class = "description" style="margin-bottom: 15px;">
							<p>
								<b><%- candidate.constituency %></b>
							</p>
						</div>
						<a class="ui positive basic button" href="/candidate/<%=candidate._id%>">VOTE</a>
					</div>
				</div>
			</div>	
			<%});%>
	</body>
</html>